
body{
  width: 100%;
  background-color: #009afa;
  padding: 0px;
  margin :0px;
  color: #3D62CF;
}
a{
  color: #3D62CF;
}
h2{
  line-height: 35px;
}
.button {
  text-decoration: none;
  min-width: 300px;
  text-align: center;
  outline: none;
  display: block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #34e6f4 0%, #0452C1 51%, #74F3FA 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
  transition: .5s;
}
.button:hover {background-position: right center;
color: #3D62CF;}

#sitename{
  color: white;
  font-size: 30px;
  margin: 10px;
}
.container{
display:flex;
}
header{ 
  position: sticky;
  top:0;
  left:0;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color:rgba(0, 154, 250,.38);
  background-image:url(resources/header.png);
  background-size: cover;
  background-position: left;
  margin: 0px;
  padding: 5px;
  height: 50px;
  opacity: 0.9;
  z-index: 10;
  
  box-shadow: 0 20px 40px rgba(0, 154, 250,.5);


  }
  #sitename{
    vertical-align: sub;
    margin-left: 50px;
  }


.header_button{
  height: 20px;
  cursor: pointer;
  text-align: center;
  outline: none;
  display: block;
  color: white;
  margin: 10px;
  padding: 10px;
  border-left: solid;
  border-right: solid;
  border-radius: 30px;
  border-color: #009afa;
  border-width: 1px;
  min-width: 150px;
}
.header_button:hover {
  background-image: linear-gradient(to top, #009afa 0%,#3D62CF 50%, #3D62CF 100%);
  background-size: 200% auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0,.5);
  transition: .3s;
}
.header-buttons {
  width: 70%;
  display: flex;
  justify-content: space-around;
  background-color: linear-gradient(to right, #009afa 0%,#3D62CF 80%, #3D62CF 100%);
}

.home{
  padding-top: 60px;
  width: 100%;
  height: 500px;
  display:flex;
  background-color: #009afa;
  align-items:center;
}


#home-photo{
  width: 30%;
  height: 350px;
  margin-left: 50px;
  background-image: url(resources/photo.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-top:solid #3D62CF;
  -webkit-transition: 1s;
}
#home-photo:hover{
  transition: 1s;
  background-position-y: 10px;

}

#home-info{
  width: 40%;
  height: 350px;
  border-top:solid #3D62CF;
  flex-direction: column;
  z-index:1;
}

#home-info-inner{
  flex-direction: column;
  margin-left: 50px;
}
#home-fractal-container{
  display: flex;
  max-width: 40%;
  height: 100%;
  align-self: center;
  justify-content: left;
}

#home-fractal{
 max-width: 40%;
 opacity: 0.9;
 position: relative;
 left: -10%;
 
  -webkit-animation: rotation 60s infinite cubic-bezier(0.26, 0.71, 0.4, 0.61);
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}







































.personalProjects_container{
  background-image: url(trader/resources/background-r.jpg);
  background-color: #21D0ED ;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 1100px;
  align-items: center;
  justify-content: center;
  }





 
 
 

